/*焦点图*/
.jq-carousel
{
    overflow: hidden;
    position: relative;
    display: table;
    /*防止动画过程闪烁*/
    @include mx_backface-visibility(hidden);
    @include mx_perspective(1000);
}

/*滚动容器*/
.jq-carousel-wrap
{
    @extend %ph_palt;
    overflow: hidden;

    &.transform
    {
        @extend %ph_transtransf;
    }

    & > *
    {
        display: block;
        float: left;
        overflow: hidden;
    }
}